In [22]:
import os
import pandas as pd
import numpy as np

# Set the folder path where all files are now stored
data_path = "C:/Users/new/Desktop/Course content/Spring/MS Practicum/project_data"  # Change this to your actual folder path

# List all files in the folder
files = os.listdir(data_path)
print("Files in the folder:", files)

# Load CSV files into a dictionary
dataframes = {}
for file in files:
    if file.endswith(".csv"):
        df_name = file.replace(".csv", "")  # Use filename as key
        dataframes[df_name] = pd.read_csv(os.path.join(data_path, file), encoding="latin1")  # Adjust encoding if needed

# Display the first few rows of each dataset
for name, df in dataframes.items():
    print(f"\n{name} (First 5 rows):")
    print(df.head())

Files in the folder: ['amazon prime_tv shows and movies_credits.csv', 'amazon prime_tv shows and movies_titles.csv', 'apple tv+ movies_credits.csv', 'apple tv+ movies_titles.csv', 'Disney+ TV Shows and Movies_credits.csv', 'Disney+ TV Shows and Movies_titles.csv', 'HBO Max TV Shows and Movies_credits.csv', 'HBO Max TV Shows and Movies_titles.csv', 'IMDB Movie Reviews Dataset.csv', 'Netflix TV Shows and Movies_credits.csv', 'Netflix TV Shows and Movies_titles.csv', 'rotten_tomatoes_critic_reviews.csv', 'rotten_tomatoes_movies.csv', 'The Movies Dataset_credits.csv', 'The Movies Dataset_keywords.csv', 'The Movies Dataset_links.csv', 'The Movies Dataset_links_small.csv', 'The Movies Dataset_movies_metadata.csv', 'The Movies Dataset_ratings.csv', 'The Movies Dataset_ratings_small.csv', 'Top Box Office Revenue Data English Movies_bomojobrandindices.csv', 'Top Box Office Revenue Data English Movies_boxofficemojobrandindices.tsv', 'Top Box Office Revenue Data English Movies_boxofficemojointernationaltop1000.tsv', 'Top Box Office Revenue Data English Movies_boxofficemojotopfranchises.tsv', 'Top Box Office Revenue Data English Movies_boxofficemojotopgenres.tsv', 'Top Box Office Revenue Data English Movies_boxofficemojoustop1000.tsv', 'weekend_summary_1977.csv', 'weekend_summary_1978.csv', 'weekend_summary_1979.csv', 'weekend_summary_1980.csv', 'weekend_summary_1981.csv', 'weekend_summary_1982.csv', 'weekend_summary_1983.csv', 'weekend_summary_1984.csv', 'weekend_summary_1985.csv', 'weekend_summary_1986.csv', 'weekend_summary_1987.csv', 'weekend_summary_1988.csv', 'weekend_summary_1989.csv', 'weekend_summary_1990.csv', 'weekend_summary_1991.csv', 'weekend_summary_1992.csv', 'weekend_summary_1993.csv', 'weekend_summary_1994.csv', 'weekend_summary_1995.csv', 'weekend_summary_1996.csv', 'weekend_summary_1997.csv', 'weekend_summary_1998.csv', 'weekend_summary_1999.csv', 'weekend_summary_2000.csv', 'weekend_summary_2001.csv', 'weekend_summary_2002.csv', 'weekend_summary_2003.csv', 'weekend_summary_2004.csv', 'weekend_summary_2005.csv', 'weekend_summary_2006.csv', 'weekend_summary_2007.csv', 'weekend_summary_2008.csv', 'weekend_summary_2009.csv', 'weekend_summary_2010.csv', 'weekend_summary_2011.csv', 'weekend_summary_2012.csv', 'weekend_summary_2013.csv', 'weekend_summary_2014.csv', 'weekend_summary_2015.csv', 'weekend_summary_2016.csv', 'weekend_summary_2017.csv', 'weekend_summary_2018.csv', 'weekend_summary_2019.csv', 'weekend_summary_2020.csv', 'weekend_summary_2021.csv', 'weekend_summary_2022.csv', 'weekend_summary_2023.csv', 'weekend_summary_2024.csv', 'weekend_summary_2025.csv']

C:\Users\new\AppData\Local\Temp\ipykernel_12132\2400776705.py:17: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[df_name] = pd.read_csv(os.path.join(data_path, file), encoding="latin1")  # Adjust encoding if needed

amazon prime_tv shows and movies_credits (First 5 rows):
   person_id       id           name      character   role
0      59401  ts20945     Joe Besser            Joe  ACTOR
1      31460  ts20945     Moe Howard            Moe  ACTOR
2      31461  ts20945     Larry Fine          Larry  ACTOR
3      21174  tm19248  Buster Keaton    Johnny Gray  ACTOR
4      28713  tm19248    Marion Mack  Annabelle Lee  ACTOR

amazon prime_tv shows and movies_titles (First 5 rows):
        id                        title   type  \
0  ts20945            The Three Stooges   SHOW
1  tm19248                  The General  MOVIE
2  tm82253  The Best Years of Our Lives  MOVIE
3  tm83884              His Girl Friday  MOVIE
4  tm56584            In a Lonely Place  MOVIE

                                         description  release_year  \
0  The Three Stooges were an American vaudeville ...          1934
1  During Americaâs Civil War, Union spies stea...          1926
2  It's the hope that sustains the spirit of ever...          1946
3  Hildy, the journalist former wife of newspaper...          1940
4  An aspiring actress begins to suspect that her...          1950

  age_certification  runtime  \
0             TV-PG       19
1               NaN       78
2               NaN      171
3               NaN       92
4               NaN       94

                                              genres production_countries  \
0  ['comedy', 'family', 'animation', 'action', 'f...               ['US']
1  ['action', 'drama', 'war', 'western', 'comedy'...               ['US']
2                        ['romance', 'war', 'drama']               ['US']
3                     ['comedy', 'drama', 'romance']               ['US']
4                   ['thriller', 'drama', 'romance']               ['US']

   seasons    imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0     26.0  tt0850645         8.6      1092.0           15.424         7.6
1      NaN  tt0017925         8.2     89766.0            8.647         8.0
2      NaN  tt0036868         8.1     63026.0            8.435         7.8
3      NaN  tt0032599         7.8     57835.0           11.270         7.4
4      NaN  tt0042593         7.9     30924.0            8.273         7.6

apple tv+ movies_credits (First 5 rows):
   person_id      id              name               character   role
0      96413  tm1300     Peter Robbins   Charlie Brown (voice)  ACTOR
1      96416  tm1300  Christopher Shea  Linus Van Pelt (voice)  ACTOR
2      96414  tm1300   Tracy Stratford   Lucy Van Pelt (voice)  ACTOR
3      96415  tm1300   Cathy Steinberg     Sally Brown (voice)  ACTOR
4        149  tm1300     Bill Melendez          Snoopy (voice)  ACTOR

apple tv+ movies_titles (First 5 rows):
         id                                  title   type  \
0    tm1300              A Charlie Brown Christmas  MOVIE
1   tm71152  It's the Great Pumpkin, Charlie Brown  MOVIE
2    tm2562           A Charlie Brown Thanksgiving  MOVIE
3  tm125274         Be My Valentine, Charlie Brown  MOVIE
4  tm106607  It's the Easter Beagle, Charlie Brown  MOVIE

                                         description  release_year  \
0  When Charlie Brown complains about the overwhe...          1965
1  This classic "Peanuts" tale focuses on the thu...          1966
2  Turkey, cranberries, pumpkin pie... and the Pe...          1973
3  It's Valentine's Day again and Charlie Brown d...          1975
4  Charlie Brown, Linus and the entire Peanuts ga...          1974

  age_certification  runtime  \
0                 G       25
1                 G       25
2                 G       25
3                 G       25
4                 G       25

                                              genres production_countries  \
0  ['comedy', 'drama', 'family', 'music', 'animat...               ['US']
1                  ['animation', 'comedy', 'family']               ['US']
2                  ['family', 'animation', 'comedy']               ['US']
3       ['animation', 'family', 'romance', 'comedy']               ['US']
4                  ['family', 'animation', 'comedy']               ['US']

   seasons    imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0      NaN  tt0059026         8.3     40328.0           10.848       7.688
1      NaN  tt0060550         8.2     20299.0           12.458       7.474
2      NaN  tt0068359         7.7     11406.0           12.591       7.311
3      NaN  tt0072687         7.4      2777.0            6.981       7.000
4      NaN  tt0071679         7.5      3001.0            6.172       6.600

Disney+ TV Shows and Movies_credits (First 5 rows):
   person_id       id               name  \
0      23433  tm74391       Deems Taylor
1       5910  tm74391        Walt Disney
2      23436  tm74391     Julietta Novis
3      23434  tm74391  Leopold Stokowski
4      23441  tm74391   Paul Satterfield

                                           character      role
0                 Narrator - Narrative Introductions     ACTOR
1  Mickey Mouse (segment 'The Sorcerer's Apprenti...     ACTOR
2      Soloist (segment 'Ave Maria') (singing voice)     ACTOR
3  Himself - Conductor of The Philadelphia Orchestra     ACTOR
4                                                NaN  DIRECTOR

Disney+ TV Shows and Movies_titles (First 5 rows):
        id                            title   type  \
0  tm74391                         Fantasia  MOVIE
1  tm67803  Snow White and the Seven Dwarfs  MOVIE
2  tm82546                        Pinocchio  MOVIE
3  tm79357                            Bambi  MOVIE
4  tm62671                  Treasure Island  MOVIE

                                         description  release_year  \
0  Walt Disney's timeless masterpiece is an extra...          1940
1  A beautiful girl, Snow White, takes refuge in ...          1937
2  Lonely toymaker Geppetto has his wishes answer...          1940
3  Bambi's tale unfolds from season to season as ...          1942
4  Enchanted by the idea of locating treasure bur...          1950

  age_certification  runtime  \
0                 G      120
1                 G       83
2                 G       88
3                 G       70
4                PG       96

                                              genres production_countries  \
0        ['animation', 'family', 'music', 'fantasy']               ['US']
1  ['fantasy', 'family', 'romance', 'animation', ...               ['US']
2       ['animation', 'comedy', 'family', 'fantasy']               ['US']
3                   ['animation', 'drama', 'family']               ['US']
4                               ['family', 'action']         ['GB', 'US']

   seasons    imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0      NaN  tt0032455         7.7     94681.0           57.751         7.4
1      NaN  tt0029583         7.6    195321.0          107.137         7.1
2      NaN  tt0032910         7.5    141937.0           71.160         7.1
3      NaN  tt0034492         7.3    140406.0           68.136         7.0
4      NaN  tt0043067         6.9      8229.0           10.698         6.5

HBO Max TV Shows and Movies_credits (First 5 rows):
   person_id        id               name  \
0      60017  tm155702       Judy Garland
1      53496  tm155702         Ray Bolger
2      79549  tm155702         Jack Haley
3      79548  tm155702          Bert Lahr
4      60995  tm155702  Margaret Hamilton

                                 character   role
0                             Dorothy Gale  ACTOR
1                         Hunk / Scarecrow  ACTOR
2                        Hickory / Tin Man  ACTOR
3                     Zeke / Cowardly Lion  ACTOR
4  Elmira Gulch / Wicked Witch of the West  ACTOR

HBO Max TV Shows and Movies_titles (First 5 rows):
         id               title   type  \
0  tm155702    The Wizard of Oz  MOVIE
1   tm83648        Citizen Kane  MOVIE
2   tm77588          Casablanca  MOVIE
3   tm82363       The Big Sleep  MOVIE
4   tm84701  The Maltese Falcon  MOVIE

                                         description  release_year  \
0  Young Dorothy finds herself in a magical world...          1939
1  Newspaper magnate, Charles Foster Kane is take...          1941
2  In Casablanca, Morocco in December 1941, a cyn...          1942
3  Private Investigator Philip Marlowe is hired b...          1946
4  A private detective takes on a case that invol...          1941

  age_certification  runtime                            genres  \
0                 G      102             ['fantasy', 'family']
1                PG      119                         ['drama']
2                PG      102       ['drama', 'romance', 'war']
3               NaN      116             ['thriller', 'crime']
4               NaN      100  ['thriller', 'romance', 'crime']

  production_countries  seasons    imdb_id  imdb_score  imdb_votes  \
0               ['US']      NaN  tt0032138         8.1    389774.0
1               ['US']      NaN  tt0033467         8.3    433804.0
2               ['US']      NaN  tt0034583         8.5    558849.0
3               ['US']      NaN  tt0038355         7.9     84494.0
4               ['US']      NaN  tt0033870         8.0    156603.0

   tmdb_popularity  tmdb_score
0           41.442         7.6
1           14.383         8.0
2           20.087         8.2
3           12.911         7.7
4           12.788         7.8

IMDB Movie Reviews Dataset (First 5 rows):
                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

Netflix TV Shows and Movies_credits (First 5 rows):
   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

Netflix TV Shows and Movies_titles (First 5 rows):
         id                                title   type  \
0  ts300399  Five Came Back: The Reference Films   SHOW
1   tm84618                          Taxi Driver  MOVIE
2  tm154986                          Deliverance  MOVIE
3  tm127384      Monty Python and the Holy Grail  MOVIE
4  tm120801                      The Dirty Dozen  MOVIE

                                         description  release_year  \
0  This collection includes 12 World War II-era p...          1945
1  A mentally unstable Vietnam War veteran works ...          1976
2  Intent on seeing the Cahulawassee River before...          1972
3  King Arthur, accompanied by his squire, recrui...          1975
4  12 American military prisoners in World War II...          1967

  age_certification  runtime                                       genres  \
0             TV-MA       51                            ['documentation']
1                 R      114                           ['drama', 'crime']
2                 R      109  ['drama', 'action', 'thriller', 'european']
3                PG       91              ['fantasy', 'action', 'comedy']
4               NaN      150                            ['war', 'action']

  production_countries  seasons    imdb_id  imdb_score  imdb_votes  \
0               ['US']      1.0        NaN         NaN         NaN
1               ['US']      NaN  tt0075314         8.2    808582.0
2               ['US']      NaN  tt0068473         7.7    107673.0
3               ['GB']      NaN  tt0071853         8.2    534486.0
4         ['GB', 'US']      NaN  tt0061578         7.7     72662.0

   tmdb_popularity  tmdb_score
0            0.600         NaN
1           40.965       8.179
2           10.010       7.300
3           15.461       7.811
4           20.398       7.600

rotten_tomatoes_critic_reviews (First 5 rows):
  rotten_tomatoes_link      critic_name  top_critic           publisher_name  \
0            m/0814255  Andrew L. Urban       False           Urban Cinefile
1            m/0814255    Louise Keller       False           Urban Cinefile
2            m/0814255              NaN       False      FILMINK (Australia)
3            m/0814255     Ben McEachen       False  Sunday Mail (Australia)
4            m/0814255      Ethan Alter        True       Hollywood Reporter

  review_type review_score review_date  \
0       Fresh          NaN  2010-02-06
1       Fresh          NaN  2010-02-06
2       Fresh          NaN  2010-02-09
3       Fresh        3.5/5  2010-02-09
4      Rotten          NaN  2010-02-10

                                      review_content
0  A fantasy adventure that fuses Greek mythology...
1  Uma Thurman as Medusa, the gorgon with a coiff...
2  With a top-notch cast and dazzling special eff...
3  Whether audiences will get behind The Lightnin...
4  What's really lacking in The Lightning Thief i...

rotten_tomatoes_movies (First 5 rows):
                    rotten_tomatoes_link  \
0                              m/0814255
1                              m/0878835
2                                   m/10
3                 m/1000013-12_angry_men
4  m/1000079-20000_leagues_under_the_sea

                                         movie_title  \
0  Percy Jackson & the Olympians: The Lightning T...
1                                        Please Give
2                                                 10
3                    12 Angry Men (Twelve Angry Men)
4                       20,000 Leagues Under The Sea

                                          movie_info  \
0  Always trouble-prone, the life of teenager Per...
1  Kate (Catherine Keener) and her husband Alex (...
2  A successful, middle-aged Hollywood songwriter...
3  Following the closing arguments in a murder tr...
4  In 1866, Professor Pierre M. Aronnax (Paul Luk...

                                   critics_consensus content_rating  \
0  Though it may seem like just another Harry Pot...             PG
1  Nicole Holofcener's newest might seem slight i...              R
2  Blake Edwards' bawdy comedy may not score a pe...              R
3  Sidney Lumet's feature debut is a superbly wri...             NR
4  One of Disney's finest live-action adventures,...              G

                                              genres          directors  \
0  Action & Adventure, Comedy, Drama, Science Fic...     Chris Columbus
1                                             Comedy  Nicole Holofcener
2                                    Comedy, Romance      Blake Edwards
3                                    Classics, Drama       Sidney Lumet
4           Action & Adventure, Drama, Kids & Family  Richard Fleischer

                                      authors  \
0  Craig Titley, Chris Columbus, Rick Riordan
1                           Nicole Holofcener
2                               Blake Edwards
3                               Reginald Rose
4                                 Earl Felton

                                              actors original_release_date  \
0  Logan Lerman, Brandon T. Jackson, Alexandra Da...            2010-02-12
1  Catherine Keener, Amanda Peet, Oliver Platt, R...            2010-04-30
2  Dudley Moore, Bo Derek, Julie Andrews, Robert ...            1979-10-05
3  Martin Balsam, John Fiedler, Lee J. Cobb, E.G....            1957-04-13
4  James Mason, Kirk Douglas, Paul Lukas, Peter L...            1954-01-01

   ...      production_company  tomatometer_status tomatometer_rating  \
0  ...        20th Century Fox              Rotten               49.0
1  ...  Sony Pictures Classics     Certified-Fresh               87.0
2  ...             Waner Bros.               Fresh               67.0
3  ...    Criterion Collection     Certified-Fresh              100.0
4  ...                  Disney               Fresh               89.0

  tomatometer_count  audience_status  audience_rating audience_count  \
0             149.0          Spilled             53.0       254421.0
1             142.0          Upright             64.0        11574.0
2              24.0          Spilled             53.0        14684.0
3              54.0          Upright             97.0       105386.0
4              27.0          Upright             74.0        68918.0

   tomatometer_top_critics_count  tomatometer_fresh_critics_count  \
0                             43                               73
1                             44                              123
2                              2                               16
3                              6                               54
4                              5                               24

   tomatometer_rotten_critics_count
0                                76
1                                19
2                                 8
3                                 0
4                                 3

[5 rows x 22 columns]

The Movies Dataset_credits (First 5 rows):
                                                cast  \
0  [{'cast_id': 14, 'character': 'Woody (voice)',...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  [{'cast_id': 1, 'character': 'George Banks', '...

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

The Movies Dataset_keywords (First 5 rows):
      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

The Movies Dataset_links (First 5 rows):
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

The Movies Dataset_links_small (First 5 rows):
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

The Movies Dataset_movies_metadata (First 5 rows):
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en


In [5]:
# Check for missing values in each dataset
for name, df in dataframes.items():
    print(f"\n{name} - Missing Values:")
    print(df.isnull().sum())

# Check data types
for name, df in dataframes.items():
    print(f"\n{name} - Data Types:")
    print(df.dtypes)

amazon prime_tv shows and movies_credits - Missing Values:
person_id        0
id               0
name             0
character    16287
role             0
dtype: int64

amazon prime_tv shows and movies_titles - Missing Values:
id                         0
title                      0
type                       0
description              119
release_year               0
age_certification       6487
runtime                    0
genres                     0
production_countries       0
seasons                 8514
imdb_id                  667
imdb_score              1021
imdb_votes              1031
tmdb_popularity          547
tmdb_score              2082
dtype: int64

apple tv+ movies_credits - Missing Values:
person_id      0
id             0
name           0
character    105
role           0
dtype: int64

apple tv+ movies_titles - Missing Values:
id                       0
title                    0
type                     0
description              0
release_year             0
age_certification       11
runtime                  0
genres                   0
production_countries     0
seasons                 62
imdb_id                  1
imdb_score               3
imdb_votes               4
tmdb_popularity          0
tmdb_score               3
dtype: int64

Disney+ TV Shows and Movies_credits - Missing Values:
person_id       0
id              0
name            0
character    1643
role            0
dtype: int64

Disney+ TV Shows and Movies_titles - Missing Values:
id                         0
title                      0
type                       0
description                6
release_year               0
age_certification        325
runtime                    0
genres                     0
production_countries       0
seasons                 1120
imdb_id                  402
imdb_score               427
imdb_votes               430
tmdb_popularity           11
tmdb_score               109
dtype: int64

HBO Max TV Shows and Movies_credits - Missing Values:
person_id       0
id              0
name            0
character    4505
role            0
dtype: int64

HBO Max TV Shows and Movies_titles - Missing Values:
id                         0
title                      0
type                       0
description               12
release_year               0
age_certification       1208
runtime                    0
genres                     0
production_countries       0
seasons                 2538
imdb_id                  326
imdb_score               372
imdb_votes               383
tmdb_popularity           33
tmdb_score               268
dtype: int64

IMDB Movie Reviews Dataset - Missing Values:
review       0
sentiment    0
dtype: int64

Netflix TV Shows and Movies_credits - Missing Values:
person_id       0
id              0
name            0
character    9772
role            0
dtype: int64

Netflix TV Shows and Movies_titles - Missing Values:
id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

rotten_tomatoes_critic_reviews - Missing Values:
rotten_tomatoes_link         0
critic_name              18529
top_critic                   0
publisher_name               0
review_type                  0
review_score            305936
review_date                  0
review_content           65806
dtype: int64

rotten_tomatoes_movies - Missing Values:
rotten_tomatoes_link                   0
movie_title                            0
movie_info                           321
critics_consensus                   8578
content_rating                         0
genres                                19
directors                            194
authors                             1542
actors                               352
original_release_date               1166
streaming_release_date               384
runtime                              314
production_company                   499
tomatometer_status                    44
tomatometer_rating                    44
tomatometer_count                     44
audience_status                      448
audience_rating                      296
audience_count                       297
tomatometer_top_critics_count          0
tomatometer_fresh_critics_count        0
tomatometer_rotten_critics_count       0
dtype: int64

The Movies Dataset_credits - Missing Values:
cast    0
crew    0
id      0
dtype: int64

The Movies Dataset_keywords - Missing Values:
id          0
keywords    0
dtype: int64

The Movies Dataset_links - Missing Values:
movieId      0
imdbId       0
tmdbId     219
dtype: int64

The Movies Dataset_links_small - Missing Values:
movieId     0
imdbId      0
tmdbId     13
dtype: int64

The Movies Dataset_movies_metadata - Missing Values:
adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

The Movies Dataset_ratings - Missing Values:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

The Movies Dataset_ratings_small - Missing Values:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Top Box Office Revenue Data English Movies_bomojobrandindices - Missing Values:
Brand\tTotal\tReleases\t#1 Release\tLifetime Gross    0
dtype: int64

weekend_summary_1977 - Missing Values:
date                   0
occasion              31
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1978 - Missing Values:
date                   0
occasion              23
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1979 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1980 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1981 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1982 - Missing Values:
date                   0
occasion              51
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1983 - Missing Values:
date                   0
occasion              49
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1984 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1985 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1986 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1987 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1988 - Missing Values:
date                   0
occasion              51
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1989 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1990 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1991 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1992 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1993 - Missing Values:
date                   0
occasion              51
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1994 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1995 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1996 - Missing Values:
date                   0
occasion              47
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1997 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1998 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_1999 - Missing Values:
date                   0
occasion              51
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2000 - Missing Values:
date                   0
occasion              47
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2001 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2002 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2003 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2004 - Missing Values:
date                   0
occasion              48
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2005 - Missing Values:
date                   0
occasion              44
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2006 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2007 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2008 - Missing Values:
date                   0
occasion              47
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2009 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2010 - Missing Values:
date                   0
occasion              43
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2011 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2012 - Missing Values:
date                   0
occasion              47
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2013 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2014 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2015 - Missing Values:
date                   0
occasion              49
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2016 - Missing Values:
date                   0
occasion              48
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2017 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2018 - Missing Values:
date                   0
occasion              42
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2019 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2020 - Missing Values:
date                   0
occasion              10
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2021 - Missing Values:
date                   0
occasion              27
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2022 - Missing Values:
date                   0
occasion              48
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2023 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2024 - Missing Values:
date                   0
occasion              50
top10_gross            0
top10_wow_change       0
overall_gross          0
overall_wow_change     0
num_releases           0
top_release            0
week_no                0
dtype: int64

weekend_summary_2025 - Missing Values:
date                  0
occasion              9
top10_gross           0
top10_wow_change      0
overall_gross         0
overall_wow_change    0
num_releases          0
top_release           0
week_no               0
dtype: int64

amazon prime_tv shows and movies_credits - Data Types:
person_id     int64
id           object
name         object
character    object
role         object
dtype: object


In [7]:
df.fillna("Unknown", inplace=True)

In [9]:
df.fillna(-1, inplace=True)

In [11]:
df["budget"] = df["budget"].replace(r'[^0-9.]', '', regex=True).astype(float)
df["revenue"] = df["revenue"].replace(r'[^0-9.]', '', regex=True).astype(float)
df["top10_gross"] = df["top10_gross"].replace(r'[^0-9.]', '', regex=True).astype(float)

KeyError: 'budget'

In [13]:
print(df.columns)

Index(['date', 'occasion', 'top10_gross', 'top10_wow_change', 'overall_gross',
       'overall_wow_change', 'num_releases', 'top_release', 'week_no'],
      dtype='object')

In [15]:
print([col for col in df.columns if "budget" in col.lower()])

[]

In [17]:
if "top10_gross" in df.columns:
    df["top10_gross"] = df["top10_gross"].replace(r'[^0-9.]', '', regex=True).astype(float)
else:
    print("Column 'top10_gross' not found.")

ValueError: could not convert string to float: ''

In [23]:
if "top10_gross" in df.columns:
    df["top10_gross"] = df["top10_gross"].replace(r'[^0-9.]', '', regex=True)
    df["top10_gross"] = df["top10_gross"].replace('', np.nan).astype(float)
else:
    print("Column 'top10_gross' not found.")

In [26]:
print(df["top10_gross"].dtype)  
print(df["top10_gross"].head())  # Check first few values

float64
0           NaN
1           NaN
2           NaN
3           NaN
4    74812438.0
Name: top10_gross, dtype: float64

In [28]:
print(df["top10_gross"].isna().sum())

4

In [30]:
df["top10_gross"].fillna(0, inplace=True)

C:\Users\new\AppData\Local\Temp\ipykernel_12132\1485773962.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["top10_gross"].fillna(0, inplace=True)

In [32]:
df["top10_gross"] = df["top10_gross"].fillna(0)

In [34]:
print(df["top10_gross"].isna().sum())  # Should print 0

0

In [36]:
print(df.dtypes)  # Identify any numeric columns stored as objects/strings
print(df.isna().sum())  # Check if other columns have missing values

date                   object
occasion               object
top10_gross           float64
top10_wow_change       object
overall_gross          object
overall_wow_change     object
num_releases           object
top_release            object
week_no                 int64
dtype: object
date                  0
occasion              9
top10_gross           0
top10_wow_change      0
overall_gross         0
overall_wow_change    0
num_releases          0
top_release           0
week_no               0
dtype: int64

In [38]:
cols_to_convert = ["top10_wow_change", "overall_gross", "overall_wow_change", "num_releases"]

for col in cols_to_convert:
    df[col] = df[col].replace(r'[^0-9.-]', '', regex=True).replace('', np.nan).astype(float)

ValueError: could not convert string to float: '-'

In [40]:
cols_to_convert = ["top10_wow_change", "overall_gross", "overall_wow_change", "num_releases"]

for col in cols_to_convert:
    df[col] = df[col].replace(r'[^0-9.-]', '', regex=True)  # Remove unwanted characters
    df[col] = df[col].replace('-', np.nan)  # Replace '-' with NaN
    df[col] = df[col].replace('', np.nan).astype(float)  # Convert to float

In [42]:
print(df.dtypes)  # Verify data types
print(df.isna().sum())  # Check missing values

date                   object
occasion               object
top10_gross           float64
top10_wow_change      float64
overall_gross         float64
overall_wow_change    float64
num_releases          float64
top_release            object
week_no                 int64
dtype: object
date                  0
occasion              9
top10_gross           0
top10_wow_change      5
overall_gross         4
overall_wow_change    5
num_releases          4
top_release           0
week_no               0
dtype: int64

In [44]:
df["top10_wow_change"].fillna(0, inplace=True)
df["overall_gross"].fillna(0, inplace=True)
df["overall_wow_change"].fillna(0, inplace=True)
df["num_releases"].fillna(0, inplace=True)

C:\Users\new\AppData\Local\Temp\ipykernel_12132\1104177268.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["top10_wow_change"].fillna(0, inplace=True)
C:\Users\new\AppData\Local\Temp\ipykernel_12132\1104177268.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["overall_gross"].fillna(0, inplace=True)
C:\Users\new\AppData\Local\Temp\ipykernel_12132\1104177268.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["overall_wow_change"].fillna(0, inplace=True)
C:\Users\new\AppData\Local\Temp\ipykernel_12132\1104177268.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["num_releases"].fillna(0, inplace=True)

In [46]:
df = df.copy()  # Ensures we modify the original DataFrame
df.loc[:, ["top10_wow_change", "overall_gross", "overall_wow_change", "num_releases"]] = \
    df[["top10_wow_change", "overall_gross", "overall_wow_change", "num_releases"]].fillna(0)

In [48]:
print(df.isna().sum())  # Should all be 0 now

date                  0
occasion              9
top10_gross           0
top10_wow_change      0
overall_gross         0
overall_wow_change    0
num_releases          0
top_release           0
week_no               0
dtype: int64

In [50]:
df["occasion"] = df["occasion"].fillna("None")

In [52]:
print(df.isna().sum())  # Should now print 0 for all columns
print(df.dtypes)  # Verify data types are correct

date                  0
occasion              0
top10_gross           0
top10_wow_change      0
overall_gross         0
overall_wow_change    0
num_releases          0
top_release           0
week_no               0
dtype: int64
date                   object
occasion               object
top10_gross           float64
top10_wow_change      float64
overall_gross         float64
overall_wow_change    float64
num_releases          float64
top_release            object
week_no                 int64
dtype: object

In [54]:
# Standardizing column names in box office dataset
df["top_release"] = df["top_release"].str.strip().str.lower()

In [56]:
streaming_df["title"] = streaming_df["title"].str.strip().str.lower()

NameError: name 'streaming_df' is not defined

In [58]:
print(df.head())  # Check if the box office dataset is loaded

           date occasion  top10_gross  top10_wow_change  overall_gross  \
0     Mar 21-23     None          0.0               0.0            0.0
1       Mar 7-9     None          0.0               0.0            0.0
2  Feb 28-Mar 2     None          0.0               0.0            0.0
3       Feb 7-9     None          0.0               0.0            0.0
4  Jan 31-Feb 2     None   74812438.0              41.1     84742936.0

   overall_wow_change  num_releases top_release  week_no
0                 0.0           0.0           -       12
1                 0.0           0.0           -       10
2                 0.0           0.0           -        9
3                 0.0           0.0           -        6
4                31.5          59.0     dog man        5

In [60]:
print(globals())  # Lists all variables in your environment

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'import os\nimport pandas as pd\n\n# Set the folder path where all files are now stored\ndata_path = "project_data/"  # Change this to your actual folder path\n\n# List all files in the folder\nfiles = os.listdir(data_path)\nprint("Files in the folder:", files)\n\n# Load CSV files into a dictionary\ndataframes = {}\nfor file in files:\n    if file.endswith(".csv"):\n        df_name = file.replace(".csv", "")  # Use filename as key\n        dataframes[df_name] = pd.read_csv(os.path.join(data_path, file), encoding="latin1")  # Adjust encoding if needed\n\n# Display the first few rows of each dataset\nfor name, df in dataframes.items():\n    print(f"\\n{name} (First 5 rows):")\n    print(df.head())', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'import os\nimport pandas as pd\n\n# Set the folder path where all files are now stored\ndata_path = "C:/Users/new/Desktop/Course content/Spring/MS Practicum/project_data"  # Change this to your actual folder path\n\n# List all files in the folder\nfiles = os.listdir(data_path)\nprint("Files in the folder:", files)\n\n# Load CSV files into a dictionary\ndataframes = {}\nfor file in files:\n    if file.endswith(".csv"):\n        df_name = file.replace(".csv", "")  # Use filename as key\n        dataframes[df_name] = pd.read_csv(os.path.join(data_path, file), encoding="latin1")  # Adjust encoding if needed\n\n# Display the first few rows of each dataset\nfor name, df in dataframes.items():\n    print(f"\\n{name} (First 5 rows):")\n    print(df.head())', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', '# Check for missing values in each dataset\nfor name, df in dataframes.items():\n    print(f"\\n{name} - Missing Values:")\n    print(df.isnull().sum())\n\n# Check data types\nfor name, df in dataframes.items():\n    print(f"\\n{name} - Data Types:")\n    print(df.dtypes)', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'df.fillna("Unknown", inplace=True)', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'df.fillna(-1, inplace=True)', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'df["budget"] = df["budget"].replace(r\'[^0-9.]\', \'\', regex=True).astype(float)\ndf["revenue"] = df["revenue"].replace(r\'[^0-9.]\', \'\', regex=True).astype(float)\ndf["top10_gross"] = df["top10_gross"].replace(r\'[^0-9.]\', \'\', regex=True).astype(float)', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'print(df.columns)', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'print([col for col in df.columns if "budget" in col.lower()])', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'if "top10_gross" in df.columns:\n    df["top10_gross"] = df["top10_gross"].replace(r\'[^0-9.]\', \'\', regex=True).astype(float)\nelse:\n    print("Column \'top10_gross\' not found.")', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'if "top10_gross" in df.columns:\n    df["top10_gross"] = df["top10_gross"].replace(r\'[^0-9.]\', \'\', regex=True)\n    df["top10_gross"] = df["top10_gross"].replace(\'\', np.nan).astype(float)\nelse:\n    print("Column \'top10_gross\' not found.")', 'import json\nimport getpass\nimport hashlib\n\ndef import_pandas_safely():\n    try:\n        return __import__(\'pandas\')\n    except ImportError:\n        return False\n\n\n__pandas = import_pandas_safely()\n\n\ndef is_data_frame(v: str):\n    obj = eval(v)\n    if  isinstance(obj, __pandas.core.frame.DataFrame) or isinstance(obj, __pandas.core.series.Series):\n        return True\n\n\ndef dataframe_columns(var):\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return [[df.name, str(df.dtype)]]\n    return list(map(lambda col: [col, str(df[col].dtype)], df.columns))\n\n\ndef dtypes_str(frame):\n    return str(eval(frame).dtypes)\n\ndef dataframe_hash(var):\n    # Return a hash including the column names and number of rows\n    df = eval(var)\n    if isinstance(df, __pandas.core.series.Series):\n        return hashlib.sha256(f"{var}-{df.name},{len(df)}".encode(\'utf-8\')).hexdigest()\n    return hashlib.sha256(f"{var}-{\',\'.join(df.columns)},{len(df)}".encode(\'utf-8\')).hexdigest()\n\ndef get_dataframes():\n    if __pandas is None:\n        return []\n    user = getpass.getuser()\n    values = get_ipython().run_line_magic(\'who_ls\', \'\')\n    dataframes = [\n        {\n            "name": var,\n            "type": type(eval(var)).__name__,\n            "hash": dataframe_hash(var),\n            "cols": dataframe_columns(var),\n            "dtypesStr": dtypes_str(var),\n        }\n        for var in values if is_data_frame(var)\n    ]\n    result = {"dataframes": dataframes, "user": user}\n    return json.dumps(result, ensure_ascii=False)\n\n\nget_dataframes()', 'import os\nimport pandas as pd\n\n# Set the folder path where all files are now stored\ndata_path = "C:/Users/new/Desktop/Course content/Spring/MS Practicum/project_data"  # Change this to your actual folder path\n\n# List all files in the folder\nfiles = os.listdir(data_path)\nprint("Files in the folder:", files)\n\n# Load CSV files into a dictionary\ndataframes = {}\nfor file in files:\n    if file.endswith(".csv"):\n        df_name = file.replace(".csv", "")  # Use filename as key\n        dataframes[df_name] = pd.read_csv(os.path.join(data_path, file), encoding="latin1")  # Adjust encoding if needed\n\n# Display the first few rows of each dataset\nfor name, df in dataframes.items():\n    print(f"\\n{name} (First 5 rows):")\n    print(df.head())', 'import os\nimport pandas as pd\nimport numpy as np\n\n# Set the folder path where all files are

In [62]:
print("streaming_df" in globals())  # Should return True if it exists

False

In [64]:
print(dataframes.keys())  # Lists all loaded datasets

dict_keys(['amazon prime_tv shows and movies_credits', 'amazon prime_tv shows and movies_titles', 'apple tv+ movies_credits', 'apple tv+ movies_titles', 'Disney+ TV Shows and Movies_credits', 'Disney+ TV Shows and Movies_titles', 'HBO Max TV Shows and Movies_credits', 'HBO Max TV Shows and Movies_titles', 'IMDB Movie Reviews Dataset', 'Netflix TV Shows and Movies_credits', 'Netflix TV Shows and Movies_titles', 'rotten_tomatoes_critic_reviews', 'rotten_tomatoes_movies', 'The Movies Dataset_credits', 'The Movies Dataset_keywords', 'The Movies Dataset_links', 'The Movies Dataset_links_small', 'The Movies Dataset_movies_metadata', 'The Movies Dataset_ratings', 'The Movies Dataset_ratings_small', 'Top Box Office Revenue Data English Movies_bomojobrandindices', 'weekend_summary_1977', 'weekend_summary_1978', 'weekend_summary_1979', 'weekend_summary_1980', 'weekend_summary_1981', 'weekend_summary_1982', 'weekend_summary_1983', 'weekend_summary_1984', 'weekend_summary_1985', 'weekend_summary_1986', 'weekend_summary_1987', 'weekend_summary_1988', 'weekend_summary_1989', 'weekend_summary_1990', 'weekend_summary_1991', 'weekend_summary_1992', 'weekend_summary_1993', 'weekend_summary_1994', 'weekend_summary_1995', 'weekend_summary_1996', 'weekend_summary_1997', 'weekend_summary_1998', 'weekend_summary_1999', 'weekend_summary_2000', 'weekend_summary_2001', 'weekend_summary_2002', 'weekend_summary_2003', 'weekend_summary_2004', 'weekend_summary_2005', 'weekend_summary_2006', 'weekend_summary_2007', 'weekend_summary_2008', 'weekend_summary_2009', 'weekend_summary_2010', 'weekend_summary_2011', 'weekend_summary_2012', 'weekend_summary_2013', 'weekend_summary_2014', 'weekend_summary_2015', 'weekend_summary_2016', 'weekend_summary_2017', 'weekend_summary_2018', 'weekend_summary_2019', 'weekend_summary_2020', 'weekend_summary_2021', 'weekend_summary_2022', 'weekend_summary_2023', 'weekend_summary_2024', 'weekend_summary_2025'])

In [66]:
for key in ['amazon prime_tv shows and movies_titles', 
            'apple tv+ movies_titles', 
            'Disney+ TV Shows and Movies_titles', 
            'HBO Max TV Shows and Movies_titles', 
            'Netflix TV Shows and Movies_titles']:
    print(f"\nDataset: {key}")
    print(dataframes[key].head())  # Display first few rows

Dataset: amazon prime_tv shows and movies_titles
        id                        title   type  \
0  ts20945            The Three Stooges   SHOW
1  tm19248                  The General  MOVIE
2  tm82253  The Best Years of Our Lives  MOVIE
3  tm83884              His Girl Friday  MOVIE
4  tm56584            In a Lonely Place  MOVIE

                                         description  release_year  \
0  The Three Stooges were an American vaudeville ...          1934
1  During Americaâs Civil War, Union spies stea...          1926
2  It's the hope that sustains the spirit of ever...          1946
3  Hildy, the journalist former wife of newspaper...          1940
4  An aspiring actress begins to suspect that her...          1950

  age_certification  runtime  \
0             TV-PG       19
1               NaN       78
2               NaN      171
3               NaN       92
4               NaN       94

                                              genres production_countries  \
0  ['comedy', 'family', 'animation', 'action', 'f...               ['US']
1  ['action', 'drama', 'war', 'western', 'comedy'...               ['US']
2                        ['romance', 'war', 'drama']               ['US']
3                     ['comedy', 'drama', 'romance']               ['US']
4                   ['thriller', 'drama', 'romance']               ['US']

   seasons    imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0     26.0  tt0850645         8.6      1092.0           15.424         7.6
1      NaN  tt0017925         8.2     89766.0            8.647         8.0
2      NaN  tt0036868         8.1     63026.0            8.435         7.8
3      NaN  tt0032599         7.8     57835.0           11.270         7.4
4      NaN  tt0042593         7.9     30924.0            8.273         7.6

Dataset: apple tv+ movies_titles
         id                                  title   type  \
0    tm1300              A Charlie Brown Christmas  MOVIE
1   tm71152  It's the Great Pumpkin, Charlie Brown  MOVIE
2    tm2562           A Charlie Brown Thanksgiving  MOVIE
3  tm125274         Be My Valentine, Charlie Brown  MOVIE
4  tm106607  It's the Easter Beagle, Charlie Brown  MOVIE

                                         description  release_year  \
0  When Charlie Brown complains about the overwhe...          1965
1  This classic "Peanuts" tale focuses on the thu...          1966
2  Turkey, cranberries, pumpkin pie... and the Pe...          1973
3  It's Valentine's Day again and Charlie Brown d...          1975
4  Charlie Brown, Linus and the entire Peanuts ga...          1974

  age_certification  runtime  \
0                 G       25
1                 G       25
2                 G       25
3                 G       25
4                 G       25

                                              genres production_countries  \
0  ['comedy', 'drama', 'family', 'music', 'animat...               ['US']
1                  ['animation', 'comedy', 'family']               ['US']
2                  ['family', 'animation', 'comedy']               ['US']
3       ['animation', 'family', 'romance', 'comedy']               ['US']
4                  ['family', 'animation', 'comedy']               ['US']

   seasons    imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0      NaN  tt0059026         8.3     40328.0           10.848       7.688
1      NaN  tt0060550         8.2     20299.0           12.458       7.474
2      NaN  tt0068359         7.7     11406.0           12.591       7.311
3      NaN  tt0072687         7.4      2777.0            6.981       7.000
4      NaN  tt0071679         7.5      3001.0            6.172       6.600

Dataset: Disney+ TV Shows and Movies_titles
        id                            title   type  \
0  tm74391                         Fantasia  MOVIE
1  tm67803  Snow White and the Seven Dwarfs  MOVIE
2  tm82546                        Pinocchio  MOVIE
3  tm79357                            Bambi  MOVIE
4  tm62671                  Treasure Island  MOVIE

                                         description  release_year  \
0  Walt Disney's timeless masterpiece is an extra...          1940
1  A beautiful girl, Snow White, takes refuge in ...          1937
2  Lonely toymaker Geppetto has his wishes answer...          1940
3  Bambi's tale unfolds from season to season as ...          1942
4  Enchanted by the idea of locating treasure bur...          1950

  age_certification  runtime  \
0                 G      120
1                 G       83
2                 G       88
3                 G       70
4                PG       96

                                              genres production_countries  \
0        ['animation', 'family', 'music', 'fantasy']               ['US']
1  ['fantasy', 'family', 'romance', 'animation', ...               ['US']
2       ['animation', 'comedy', 'family', 'fantasy']               ['US']
3                   ['animation', 'drama', 'family']               ['US']
4                               ['family', 'action']         ['GB', 'US']

   seasons    imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0      NaN  tt0032455         7.7     94681.0           57.751         7.4
1      NaN  tt0029583         7.6    195321.0          107.137         7.1
2      NaN  tt0032910         7.5    141937.0           71.160         7.1
3      NaN  tt0034492         7.3    140406.0           68.136         7.0
4      NaN  tt0043067         6.9      8229.0           10.698         6.5

Dataset: HBO Max TV Shows and Movies_titles
         id               title   type  \
0  tm155702    The Wizard of Oz  MOVIE
1   tm83648        Citizen Kane  MOVIE
2   tm77588          Casablanca  MOVIE
3   tm82363       The Big Sleep  MOVIE
4   tm84701  The Maltese Falcon  MOVIE

                                         description  release_year  \
0  Young Dorothy finds herself in a magical world...          1939
1  Newspaper magnate, Charles Foster Kane is take...          1941
2  In Casablanca, Morocco in December 1941, a cyn...          1942
3  Private Investigator Philip Marlowe is hired b...          1946
4  A private detective takes on a case that invol...          1941

  age_certification  runtime                            genres  \
0                 G      102             ['fantasy', 'family']
1                PG      119                         ['drama']
2                PG      102       ['drama', 'romance', 'war']
3               NaN      116             ['thriller', 'crime']
4               NaN      100  ['thriller', 'romance', 'crime']

  production_countries  seasons    imdb_id  imdb_score  imdb_votes  \
0               ['US']      NaN  tt0032138         8.1    389774.0
1               ['US']      NaN  tt0033467         8.3    433804.0
2               ['US']      NaN  tt0034583         8.5    558849.0
3               ['US']      NaN  tt0038355         7.9     84494.0
4               ['US']      NaN  tt0033870         8.0    156603.0

   tmdb_popularity  tmdb_score
0           41.442         7.6
1           14.383         8.0
2           20.087         8.2
3           12.911         7.7
4           12.788         7.8

Dataset: Netflix TV Shows and Movies_titles
         id                                title   type  \
0  ts300399  Five Came Back: The Reference Films   SHOW
1   tm84618                          Taxi Driver  MOVIE
2  tm154986                          Deliverance  MOVIE
3  tm127384      Monty Python and the Holy Grail  MOVIE
4  tm120801                      The Dirty Dozen  MOVIE

                                         description  release_year  \
0  This collection includes 12 World War II-era p...          1945
1  A mentally unstable Vietnam War veteran works ...          1976
2  Intent on seeing the Cahulawassee River before...          1972
3  King Arthur, accompanied by his squire, recrui...          1975
4  12 American military prisoners in World War II...          1967

  age_certification  runtime                                       genres  \
0             TV-MA       51                            ['documentation']
1                 R      114                           ['drama', 'crime']
2                 R      109  ['drama', 'action', 'thriller', 'european']
3                PG       91              ['fantasy', 'action', 'comedy']
4               NaN      150                            ['war', 'action']

  production_countries  seasons    imdb_id  imdb_score  imdb_votes  \
0               ['US']      1.0        NaN         NaN         NaN
1               ['US']      NaN  tt0075314         8.2    808582.0
2               ['US']      NaN  tt0068473         7.7    107673.0
3               ['GB']      NaN  tt0071853         8.2    534486.0
4         ['GB', 'US']      NaN  tt0061578         7.7     72662.0

   tmdb_popularity  tmdb_score
0            0.600         NaN
1           40.965       8.179
2           10.010       7.300
3           15.461       7.811
4           20.398       7.600

In [70]:
# List of datasets related to streaming platforms
streaming_datasets = [
    "amazon prime_tv shows and movies_titles",
    "apple tv+ movies_titles",
    "Disney+ TV Shows and Movies_titles",
    "HBO Max TV Shows and Movies_titles",
    "Netflix TV Shows and Movies_titles"
]

# Combine them into a single DataFrame
import pandas as pd

streaming_df = pd.concat([dataframes[key] for key in streaming_datasets], ignore_index=True)

# Display the combined dataframe
import ace_tools
ace_tools.display_dataframe_to_user(name="Streaming Data", dataframe=streaming_df)

ModuleNotFoundError: No module named 'ace_tools'

In [72]:
from IPython.display import display

display(streaming_df)  # Shows the dataframe in a structured format

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During Americaâs Civil War, Union spies stea...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20715,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
20716,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
20717,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.3
20718,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.0
20719,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.0

In [74]:
display(streaming_df.head())  # Shows first 5 rows

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During Americaâs Civil War, Union spies stea...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

In [76]:
streaming_df.to_csv("streaming_data.csv", index=False)

In [78]:
import os
print(os.getcwd())

C:\Users\new

In [80]:
streaming_df.to_csv(r"C:\Users\new\Desktop\Course content\Spring\MS Practicum\streaming_data.csv", index=False)  # For Windows

In [82]:
import pandas as pd

df = pd.read_csv("streaming_data.csv")
df.head()  # View the first few rows

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During Americaâs Civil War, Union spies stea...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

In [84]:
from collections import Counter
import ast

genres = df['genres'].dropna().apply(ast.literal_eval).sum()  # Convert string lists to actual lists
genre_counts = Counter(genres)
print(genre_counts.most_common(10))  # Show top 10 genres

[('drama', 9594), ('comedy', 7146), ('thriller', 4047), ('action', 3894), ('romance', 3389), ('documentation', 3155), ('crime', 2785), ('family', 2572), ('animation', 2052), ('fantasy', 2022)]

In [86]:
df.sort_values(by="imdb_score", ascending=False).head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
9135,tm1159926,Pawankhind,MOVIE,The story of the Maratha Warriors at the battl...,2022,NaN,153,"['action', 'drama', 'history']",['IN'],NaN,tt14448632,9.9,2036.0,3.812,8.50
7783,ts231725,Water Helps the Blood Run,SHOW,"Five orphan girls from diverse backgrounds, ca...",2019,NaN,29,"['drama', 'comedy']",[],1.0,tt11524214,9.7,30.0,NaN,NaN
11056,ts84270,Bluey,SHOW,Bluey is an inexhaustible six year-old Blue He...,2018,TV-Y,7,"['animation', 'family']",['AU'],3.0,tt7678620,9.7,6626.0,32.210,7.00
17528,ts265844,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,[],[],1.0,tt12635254,9.6,7.0,NaN,NaN
10031,ts364250,Slumberkins,SHOW,"Embark on adventures with Bigfoot, Unicorn, Sl...",2022,TV-Y,0,"['fantasy', 'animation', 'comedy', 'family']",['US'],1.0,tt21942724,9.5,62.0,3.360,NaN
15434,ts160526,Khawatir,SHOW,A TV show devoted to help young people to be m...,2005,TV-14,19,['reality'],[],11.0,tt3062514,9.5,3115.0,NaN,NaN
15086,ts4,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,"['drama', 'crime', 'thriller']",['US'],5.0,tt0903747,9.5,1775990.0,353.848,8.79
9108,ts304299,Couple of Mirrors,SHOW,"You Yi is a young, innocent, and kind-hearted ...",2021,NaN,46,"['drama', 'romance', 'crime']",['CN'],1.0,tt15509598,9.5,99.0,5.116,8.00
9423,tm1167998,Tari Sathe,MOVIE,The story revolves between two youngsters who ...,2021,NaN,119,"['drama', 'family']",['IN'],NaN,tt13181612,9.4,517.0,0.821,7.00
14107,ts88632,Chernobyl,SHOW,The true story of one of the worst man-made ca...,2019,TV-MA,65,"['drama', 'history', 'thriller', 'documentation']",['US'],1.0,tt7366338,9.4,693955.0,64.507,8.60

In [5]:
print(df.shape)  # Check rows and columns
print(df.head())  # Preview first few rows

NameError: name 'df' is not defined

In [7]:
import pandas as pd

df = pd.read_csv("streaming_data.csv")  # Load the saved CSV file
print(df.shape)  # Confirm data is loaded
print(df.head())  # Preview first few rows

(20720, 15)
        id                        title   type  \
0  ts20945            The Three Stooges   SHOW
1  tm19248                  The General  MOVIE
2  tm82253  The Best Years of Our Lives  MOVIE
3  tm83884              His Girl Friday  MOVIE
4  tm56584            In a Lonely Place  MOVIE

                                         description  release_year  \
0  The Three Stooges were an American vaudeville ...          1934
1  During Americaâs Civil War, Union spies stea...          1926
2  It's the hope that sustains the spirit of ever...          1946
3  Hildy, the journalist former wife of newspaper...          1940
4  An aspiring actress begins to suspect that her...          1950

  age_certification  runtime  \
0             TV-PG       19
1               NaN       78
2               NaN      171
3               NaN       92
4               NaN       94

                                              genres production_countries  \
0  ['comedy', 'family', 'animation', 'action', 'f...               ['US']
1  ['action', 'drama', 'war', 'western', 'comedy'...               ['US']
2                        ['romance', 'war', 'drama']               ['US']
3                     ['comedy', 'drama', 'romance']               ['US']
4                   ['thriller', 'drama', 'romance']               ['US']

   seasons    imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0     26.0  tt0850645         8.6      1092.0           15.424         7.6
1      NaN  tt0017925         8.2     89766.0            8.647         8.0
2      NaN  tt0036868         8.1     63026.0            8.435         7.8
3      NaN  tt0032599         7.8     57835.0           11.270         7.4
4      NaN  tt0042593         7.9     30924.0            8.273         7.6

In [1]:
print(df.shape)  # Check rows and columns
print(df.head())  # Preview first few rows

NameError: name 'df' is not defined

In [3]:
import pandas as pd

df = pd.read_csv("streaming_data.csv")  # Load the saved CSV file
print(df.shape)  # Confirm data is loaded
print(df.head())  # Preview first few rows

FileNotFoundError: [Errno 2] No such file or directory: 'streaming_data.csv'

In [5]:
import os
print(os.getcwd())  # Print current working directory

C:\Users\new\Downloads

In [7]:
import pandas as pd

df = pd.read_csv("streaming_data.csv")  # Load the saved CSV file
print(df.shape)  # Confirm data is loaded
print(df.head())  # Preview first few rows

(20720, 15)
        id                        title   type  \
0  ts20945            The Three Stooges   SHOW
1  tm19248                  The General  MOVIE
2  tm82253  The Best Years of Our Lives  MOVIE
3  tm83884              His Girl Friday  MOVIE
4  tm56584            In a Lonely Place  MOVIE

                                         description  release_year  \
0  The Three Stooges were an American vaudeville ...          1934
1  During Americaâs Civil War, Union spies stea...          1926
2  It's the hope that sustains the spirit of ever...          1946
3  Hildy, the journalist former wife of newspaper...          1940
4  An aspiring actress begins to suspect that her...          1950

  age_certification  runtime  \
0             TV-PG       19
1               NaN       78
2               NaN      171
3               NaN       92
4               NaN       94

                                              genres production_countries  \
0  ['comedy', 'family', 'animation', 'action', 'f...               ['US']
1  ['action', 'drama', 'war', 'western', 'comedy'...               ['US']
2                        ['romance', 'war', 'drama']               ['US']
3                     ['comedy', 'drama', 'romance']               ['US']
4                   ['thriller', 'drama', 'romance']               ['US']

   seasons    imdb_id  imdb_score  imdb_votes  tmdb_popularity  tmdb_score
0     26.0  tt0850645         8.6      1092.0           15.424         7.6
1      NaN  tt0017925         8.2     89766.0            8.647         8.0
2      NaN  tt0036868         8.1     63026.0            8.435         7.8
3      NaN  tt0032599         7.8     57835.0           11.270         7.4
4      NaN  tt0042593         7.9     30924.0            8.273         7.6

In [9]:
# Check the number of rows and columns
print(df.shape)

# Display column names
print(df.columns)

# Show general info about data types and missing values
print(df.info())

# Display summary statistics for numerical columns
print(df.describe())

(20720, 15)
Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20720 entries, 0 to 20719
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    20720 non-null  object
 1   title                 20719 non-null  object
 2   type                  20720 non-null  object
 3   description           20565 non-null  object
 4   release_year          20720 non-null  int64
 5   age_certification     10070 non-null  object
 6   runtime               20720 non-null  int64
 7   genres                20720 non-null  object
 8   production_countries  20720 non-null  object
 9   seasons               4742 non-null   float64
 10  imdb_id               18921 non-null  object
 11  imdb_score            18415 non-null  float64
 12  imdb_votes            18374 non-null  float64
 13  tmdb_popularity       20038 non-null  float64
 14  tmdb_score            17947 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 2.4+ MB
None
       release_year       runtime      seasons    imdb_score    imdb_votes  \
count  20720.000000  20720.000000  4742.000000  18415.000000  1.837400e+04
mean    2005.869208     80.406033     2.500844      6.324458  2.592613e+04
std       22.382614     37.199713     3.346460      1.283463  1.060958e+05
min     1901.000000      0.000000     1.000000      1.100000  5.000000e+00
25%     2004.000000     53.000000     1.000000      5.500000  2.162500e+02
50%     2016.000000     87.000000     1.000000      6.400000  1.209000e+03
75%     2019.000000    103.000000     3.000000      7.300000  7.720500e+03
max     2023.000000    549.000000    52.000000      9.900000  2.555504e+06

       tmdb_popularity    tmdb_score
count     20038.000000  17947.000000
mean         16.432933      6.476285
std          94.895526      1.379626
min           0.000011      0.500000
25%           1.809250      5.800000
50%           4.378000      6.600000
75%          11.354000      7.398000
max        9323.832000     10.000000

In [11]:
print(df.isnull().sum())

id                          0
title                       1
type                        0
description               155
release_year                0
age_certification       10650
runtime                     0
genres                      0
production_countries        0
seasons                 15978
imdb_id                  1799
imdb_score               2305
imdb_votes               2346
tmdb_popularity           682
tmdb_score               2773
dtype: int64

In [13]:
df.dropna(subset=['title'], inplace=True)

In [15]:
df['age_certification'].fillna("Not Rated", inplace=True)

C:\Users\new\AppData\Local\Temp\ipykernel_44444\1705499227.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age_certification'].fillna("Not Rated", inplace=True)

In [17]:
df.loc[:, 'age_certification'] = df['age_certification'].fillna("Not Rated")

In [19]:
print(df.isnull().sum())

id                          0
title                       0
type                        0
description               154
release_year                0
age_certification           0
runtime                     0
genres                      0
production_countries        0
seasons                 15977
imdb_id                  1799
imdb_score               2304
imdb_votes               2345
tmdb_popularity           681
tmdb_score               2772
dtype: int64

In [21]:
df.loc[:, 'description'] = df['description'].fillna("No description available")

In [23]:
df.loc[:, 'seasons'] = df['seasons'].fillna(0).astype(int)

In [25]:
df.loc[:, 'imdb_score'] = df['imdb_score'].fillna(df['imdb_score'].median())
df.loc[:, 'imdb_votes'] = df['imdb_votes'].fillna(df['imdb_votes'].median())
df.loc[:, 'tmdb_score'] = df['tmdb_score'].fillna(df['tmdb_score'].median())
df.loc[:, 'tmdb_popularity'] = df['tmdb_popularity'].fillna(df['tmdb_popularity'].median())

In [27]:
print(df.isnull().sum())

id                         0
title                      0
type                       0
description                0
release_year               0
age_certification          0
runtime                    0
genres                     0
production_countries       0
seasons                    0
imdb_id                 1799
imdb_score                 0
imdb_votes                 0
tmdb_popularity            0
tmdb_score                 0
dtype: int64

In [29]:
df = df.dropna(subset=['imdb_id'])

In [31]:
print(df.isnull().sum())

id                      0
title                   0
type                    0
description             0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
imdb_id                 0
imdb_score              0
imdb_votes              0
tmdb_popularity         0
tmdb_score              0
dtype: int64

In [33]:
df.loc[:, 'source'] = df['id'].apply(lambda x: x.split("_")[0])

In [35]:
print(df['source'].unique())

['ts20945' 'tm19248' 'tm82253' ... 'tm898842' 'tm1059008' 'ts271048']

In [37]:
streaming_datasets = {
    "amazon prime_tv shows and movies_titles": "Amazon Prime",
    "apple tv+ movies_titles": "Apple TV+",
    "Disney+ TV Shows and Movies_titles": "Disney+",
    "HBO Max TV Shows and Movies_titles": "HBO Max",
    "Netflix TV Shows and Movies_titles": "Netflix"
}

import pandas as pd

# Combine datasets with a correct `source` column
df_list = []
for key, platform in streaming_datasets.items():
    temp_df = dataframes[key].copy()
    temp_df["source"] = platform  # Assign platform name
    df_list.append(temp_df)

df = pd.concat(df_list, ignore_index=True)

NameError: name 'dataframes' is not defined

In [39]:
import pandas as pd

# Reload the saved CSV file
df = pd.read_csv("streaming_data.csv")

# Assign streaming platform labels
streaming_datasets = {
    "amazon prime_tv shows and movies_titles": "Amazon Prime",
    "apple tv+ movies_titles": "Apple TV+",
    "Disney+ TV Shows and Movies_titles": "Disney+",
    "HBO Max TV Shows and Movies_titles": "HBO Max",
    "Netflix TV Shows and Movies_titles": "Netflix"
}

# Check if 'source' column exists; if not, assign platforms
if 'source' not in df.columns:
    df['source'] = df['id'].apply(lambda x: next((v for k, v in streaming_datasets.items() if k in x.lower()), "Unknown"))

# Verify platform names
print(df['source'].unique())

['Unknown']

In [41]:
import pandas as pd

# Reload the dataset
df = pd.read_csv("streaming_data.csv")

# Create platform mapping based on known dataset origins
streaming_datasets = {
    "Amazon Prime": "amazon prime",
    "Apple TV+": "apple tv+",
    "Disney+": "disney+",
    "HBO Max": "hbo max",
    "Netflix": "netflix"
}

# Assign platforms based on ID prefixes (assuming they follow 'tm' or 'ts' structure)
def identify_platform(id_value):
    id_str = str(id_value).lower()
    for platform, keyword in streaming_datasets.items():
        if keyword in id_str:
            return platform
    return "Unknown"

# Apply function to create 'source' column
df['source'] = df['id'].apply(identify_platform)

# Verify the corrected platform names
print(df['source'].unique())

['Unknown']

In [43]:
import pandas as pd

# Reload dataset
df = pd.read_csv("streaming_data.csv")

# Known streaming platform sources (since `id` is not useful)
platforms = {
    "amazon prime_tv shows and movies_titles": "Amazon Prime",
    "apple tv+ movies_titles": "Apple TV+",
    "Disney+ TV Shows and Movies_titles": "Disney+",
    "HBO Max TV Shows and Movies_titles": "HBO Max",
    "Netflix TV Shows and Movies_titles": "Netflix"
}

# Assign platform name by checking the dataset origin (if known)
df["source"] = df["id"].apply(lambda x: next((platform for key, platform in platforms.items() if key in x), "Unknown"))

# Verify the corrected platform names
print(df["source"].value_counts())

source
Unknown    20720
Name: count, dtype: int64

In [45]:
import pandas as pd

# Reload dataset
df = pd.read_csv("streaming_data.csv")

# Streaming platform mapping based on dataset source
platforms = {
    "amazon prime": "Amazon Prime",
    "apple tv+": "Apple TV+",
    "disney+": "Disney+",
    "hbo max": "HBO Max",
    "netflix": "Netflix"
}

# Assign platform names using dataset structure
def assign_platform(row):
    # Convert ID to string for safety
    id_str = str(row["id"]).lower()
    
    # Match platform names based on known prefixes
    for keyword, platform in platforms.items():
        if keyword in row["title"].lower():  # Try matching title (better approach)
            return platform
    return "Unknown"

# Apply function to create 'source' column
df["source"] = df.apply(assign_platform, axis=1)

# Verify platform distribution
print(df["source"].value_counts())

# Save the updated dataset (optional)
df.to_csv("streaming_data_with_source.csv", index=False)

AttributeError: 'float' object has no attribute 'lower'

In [47]:
import pandas as pd

# Reload dataset
df = pd.read_csv("streaming_data.csv")

# Streaming platform mapping based on dataset source
platforms = {
    "amazon prime": "Amazon Prime",
    "apple tv+": "Apple TV+",
    "disney+": "Disney+",
    "hbo max": "HBO Max",
    "netflix": "Netflix"
}

# Assign platform names using dataset structure
def assign_platform(row):
    # Handle missing values: Convert title to string, or replace NaN with ""
    title_str = str(row["title"]).lower() if pd.notna(row["title"]) else ""

    # Match platform names based on title (better approach)
    for keyword, platform in platforms.items():
        if keyword in title_str:
            return platform
    return "Unknown"

# Apply function to create 'source' column
df["source"] = df.apply(assign_platform, axis=1)

# Verify platform distribution
print(df["source"].value_counts())

# Save the updated dataset (optional)
df.to_csv("streaming_data_with_source.csv", index=False)

source
Unknown    20712
Netflix        6
Disney+        2
Name: count, dtype: int64

In [49]:
import pandas as pd

# Reload dataset
df = pd.read_csv("streaming_data.csv")

# Streaming platform mapping based on dataset source
streaming_datasets = {
    "amazon prime_tv shows and movies_titles": "Amazon Prime",
    "apple tv+ movies_titles": "Apple TV+",
    "Disney+ TV Shows and Movies_titles": "Disney+",
    "HBO Max TV Shows and Movies_titles": "HBO Max",
    "Netflix TV Shows and Movies_titles": "Netflix"
}

# Assign platforms based on dataset structure (assuming dataset names are embedded in ID)
def assign_platform_by_id(id_value):
    id_str = str(id_value).lower()
    
    # Match platform names based on dataset source prefixes
    if id_str.startswith("ts") or id_str.startswith("tm"):
        return "Netflix"  # Example: Modify based on actual patterns
    elif "prime" in id_str:
        return "Amazon Prime"
    elif "apple" in id_str:
        return "Apple TV+"
    elif "disney" in id_str:
        return "Disney+"
    elif "hbo" in id_str:
        return "HBO Max"
    return "Unknown"

# Apply function to create 'source' column
df["source"] = df["id"].apply(assign_platform_by_id)

# Verify platform distribution
print(df["source"].value_counts())

# Save the updated dataset (optional)
df.to_csv("streaming_data_with_source.csv", index=False)

source
Netflix    20720
Name: count, dtype: int64

In [51]:
import pandas as pd

# Reload dataset
df = pd.read_csv("streaming_data.csv")

# Streaming platform mapping based on original dataset source
streaming_datasets = {
    "amazon prime_tv shows and movies_titles": "Amazon Prime",
    "apple tv+ movies_titles": "Apple TV+",
    "Disney+ TV Shows and Movies_titles": "Disney+",
    "HBO Max TV Shows and Movies_titles": "HBO Max",
    "Netflix TV Shows and Movies_titles": "Netflix"
}

# Extract dataset source from ID using known dataset origins
def assign_platform_by_original_data(id_value):
    id_str = str(id_value).lower()
    
    if "amazon" in id_str or "prime" in id_str:
        return "Amazon Prime"
    elif "apple" in id_str or "tv+" in id_str:
        return "Apple TV+"
    elif "disney" in id_str:
        return "Disney+"
    elif "hbo" in id_str:
        return "HBO Max"
    elif "netflix" in id_str:
        return "Netflix"
    
    return "Unknown"

# Apply function to create 'source' column
df["source"] = df["id"].apply(assign_platform_by_original_data)

# Verify platform distribution
print(df["source"].value_counts())

# Save the updated dataset (optional)
df.to_csv("streaming_data_with_source.csv", index=False)

source
Unknown    20720
Name: count, dtype: int64

In [53]:
import pandas as pd

# Reload dataset
df = pd.read_csv("streaming_data.csv")

# Define platform-specific keywords to search in the title/description
platform_keywords = {
    "Amazon Prime": ["prime", "amazon"],
    "Apple TV+": ["apple", "tv+"],
    "Disney+": ["disney"],
    "HBO Max": ["hbo", "max"],
    "Netflix": ["netflix"]
}

# Function to determine the source platform
def assign_platform_by_title(row):
    title_str = str(row["title"]).lower() if pd.notna(row["title"]) else ""
    
    for platform, keywords in platform_keywords.items():
        if any(keyword in title_str for keyword in keywords):
            return platform
    
    return "Unknown"

# Apply function to assign platforms based on title content
df["source"] = df.apply(assign_platform_by_title, axis=1)

# Verify the results
print(df["source"].value_counts())

# Save the updated dataset
df.to_csv("streaming_data_with_source.csv", index=False)

source
Unknown         20610
HBO Max            46
Disney+            35
Amazon Prime       14
Apple TV+           9
Netflix             6
Name: count, dtype: int64

In [55]:
import pandas as pd

# Reload dataset
df = pd.read_csv("streaming_data.csv")

# Define correct platform assignments based on the original dataset
dataset_sources = {
    "amazon prime_tv shows and movies_titles": "Amazon Prime",
    "apple tv+ movies_titles": "Apple TV+",
    "Disney+ TV Shows and Movies_titles": "Disney+",
    "HBO Max TV Shows and Movies_titles": "HBO Max",
    "Netflix TV Shows and Movies_titles": "Netflix"
}

# Assign platform based on dataset origin
df["source"] = df["id"].apply(lambda x: next((platform for dataset, platform in dataset_sources.items() if dataset.replace("_", " ") in x.lower()), "Unknown"))

# Verify platform distribution
print(df["source"].value_counts())

# Save updated dataset
df.to_csv("streaming_data_with_correct_source.csv", index=False)

source
Unknown    20720
Name: count, dtype: int64

In [57]:
# Check unique prefixes in 'id'
df['id_prefix'] = df['id'].astype(str).apply(lambda x: x[:2])  # Extract first two letters
print(df['id_prefix'].value_counts())  # See the most common prefixes

id_prefix
tm    15978
ts     4742
Name: count, dtype: int64

In [59]:
# Mapping based on observed prefixes
prefix_mapping = {
    "tm": "Movie",  # Likely represents movies
    "ts": "TV Show"  # Likely represents TV shows
}

# Apply mapping
df['source'] = df['id_prefix'].map(prefix_mapping).fillna("Unknown")

# Remove temporary id_prefix column
df.drop(columns=['id_prefix'], inplace=True)

# Verify distribution
print(df['source'].value_counts())

source
Movie      15978
TV Show     4742
Name: count, dtype: int64

In [61]:
# Platform mapping based on original datasets
platform_keywords = {
    "Amazon Prime": ["prime", "amazon"],
    "Apple TV+": ["apple"],
    "Disney+": ["disney"],
    "HBO Max": ["hbo", "max"],
    "Netflix": ["netflix"]
}

# Function to match platform based on title
def identify_platform(title):
    if pd.isna(title):  # Handle missing values
        return "Unknown"
    
    title_lower = title.lower()
    for platform, keywords in platform_keywords.items():
        if any(keyword in title_lower for keyword in keywords):
            return platform
    return "Unknown"

# Apply function to create 'source' column
df['source'] = df['title'].apply(identify_platform)

# Verify platform distribution
print(df['source'].value_counts())

source
Unknown         20610
HBO Max            46
Disney+            35
Amazon Prime       14
Apple TV+           9
Netflix             6
Name: count, dtype: int64

In [63]:
# Define platform mapping using dataset structure
platform_mapping = {
    "amazon prime": "Amazon Prime",
    "apple tv+": "Apple TV+",
    "disney+": "Disney+",
    "hbo max": "HBO Max",
    "netflix": "Netflix"
}

# Function to map platform based on ID prefixes
def assign_platform_from_id(id_value):
    id_str = str(id_value).lower()
    
    # Match known platform prefixes
    for keyword, platform in platform_mapping.items():
        if keyword in id_str:  # Check if ID contains the dataset keyword
            return platform
    return "Unknown"

# Apply function to create 'source' column
df['source'] = df['id'].apply(assign_platform_from_id)

# Check updated distribution
print(df['source'].value_counts())

source
Unknown    20720
Name: count, dtype: int64

In [65]:
# Mapping datasets to their platforms
streaming_datasets = {
    "amazon prime_tv shows and movies_titles": "Amazon Prime",
    "apple tv+ movies_titles": "Apple TV+",
    "Disney+ TV Shows and Movies_titles": "Disney+",
    "HBO Max TV Shows and Movies_titles": "HBO Max",
    "Netflix TV Shows and Movies_titles": "Netflix"
}

# Extract first few rows of 'id' column to inspect its pattern
print(df[['id']].head())

        id
0  ts20945
1  tm19248
2  tm82253
3  tm83884
4  tm56584

In [67]:
# Function to assign platforms based on ID prefix
def assign_platform_by_id(id_value):
    id_str = str(id_value).lower()
    
    if id_str.startswith("ts"):  # TV Shows
        return "Netflix"  # Adjust if needed
    elif id_str.startswith("tm"):  # Movies
        return "Amazon Prime"  # Adjust if needed
    return "Unknown"

# Apply function to update 'source' column
df['source'] = df['id'].apply(assign_platform_by_id)

# Display platform distribution
print(df['source'].value_counts())

source
Amazon Prime    15978
Netflix          4742
Name: count, dtype: int64

In [69]:
# Improved function to classify platforms
def assign_platform(row):
    id_str = str(row["id"]).lower()
    
    # If TV Show (Netflix already correct)
    if id_str.startswith("ts"):
        return "Netflix"
    
    # If Movie, check for more details
    if id_str.startswith("tm"):
        title = str(row["title"]).lower() if pd.notna(row["title"]) else ""
        genres = str(row["genres"]).lower() if pd.notna(row["genres"]) else ""

        # Adjust platform assignment using keywords in title/genres
        if "disney" in title or "disney" in genres:
            return "Disney+"
        if "hbo" in title or "hbo" in genres:
            return "HBO Max"
        if "apple" in title or "apple" in genres:
            return "Apple TV+"

        # Otherwise, assume Amazon Prime (fallback)
        return "Amazon Prime"

    return "Unknown"

# Apply the refined function
df['source'] = df.apply(assign_platform, axis=1)

# Display new distribution
print(df['source'].value_counts())

source
Amazon Prime    15937
Netflix          4742
Disney+            19
HBO Max            14
Apple TV+           8
Name: count, dtype: int64

In [71]:
def assign_platform(row):
    id_str = str(row["id"]).lower()
    title = str(row["title"]).lower() if pd.notna(row["title"]) else ""
    genres = str(row["genres"]).lower() if pd.notna(row["genres"]) else ""
    countries = str(row["production_countries"]).lower() if pd.notna(row["production_countries"]) else ""

    # Netflix TV Shows already correctly classified
    if id_str.startswith("ts"):
        return "Netflix"

    # Assign Disney+ (titles with 'disney' or US-based family content)
    if "disney" in title or "disney" in genres or "us" in countries and "family" in genres:
        return "Disney+"

    # Assign HBO Max (if HBO in title/genre or high IMDb votes)
    if "hbo" in title or "hbo" in genres or ("us" in countries and row["imdb_votes"] > 50000):
        return "HBO Max"

    # Assign Apple TV+ (if Apple in title or non-US countries like UK/Canada)
    if "apple" in title or "apple" in genres or ("gb" in countries or "ca" in countries):
        return "Apple TV+"

    # Default to Amazon Prime
    return "Amazon Prime"

# Apply the updated function
df["source"] = df.apply(assign_platform, axis=1)

# Display the new distribution
print(df["source"].value_counts())

source
Amazon Prime    12097
Netflix          4742
Apple TV+        1598
Disney+          1205
HBO Max          1078
Name: count, dtype: int64

In [73]:
def assign_platform(row):
    id_str = str(row["id"]).lower()
    title = str(row["title"]).lower() if pd.notna(row["title"]) else ""
    genres = str(row["genres"]).lower() if pd.notna(row["genres"]) else ""
    countries = str(row["production_countries"]).lower() if pd.notna(row["production_countries"]) else ""
    release_year = row["release_year"]

    # Netflix (TV Shows already identified)
    if id_str.startswith("ts"):
        return "Netflix"

    # Disney+ (Add more animation, adventure, fantasy content)
    if "disney" in title or "animation" in genres or "adventure" in genres or "fantasy" in genres or ("us" in countries and "family" in genres):
        return "Disney+"

    # HBO Max (High IMDb votes or popular drama/thriller)
    if "hbo" in title or "hbo" in genres or ("us" in countries and row["imdb_votes"] > 50000) or ("drama" in genres and row["imdb_votes"] > 100000):
        return "HBO Max"

    # Apple TV+ (Smaller, high-quality productions, often UK/Canada)
    if "apple" in title or "apple" in genres or ("gb" in countries or "ca" in countries) or (row["imdb_votes"] < 5000 and release_year > 2019):
        return "Apple TV+"

    # Reduce Amazon Prime (older content might still get misclassified)
    if release_year < 2000 and row["imdb_votes"] < 20000:
        return "Unknown"

    # Default to Amazon Prime
    return "Amazon Prime"

# Apply the improved function
df["source"] = df.apply(assign_platform, axis=1)

# Display new distribution
print(df["source"].value_counts())

source
Amazon Prime    7102
Netflix         4742
Apple TV+       2969
Disney+         2531
Unknown         2437
HBO Max          939
Name: count, dtype: int64

In [75]:
def refine_unknowns(row):
    if row["source"] != "Unknown":
        return row["source"]  # Keep assigned source

    # Netflix (High TMDB popularity or high votes)
    if row["tmdb_popularity"] > 50 or row["imdb_votes"] > 200000:
        return "Netflix"

    # HBO Max (High IMDb scores & votes)
    if row["imdb_score"] > 7.5 and row["tmdb_score"] > 7.5:
        return "HBO Max"

    # Apple TV+ (Recent releases, low votes)
    if row["release_year"] > 2020 and row["imdb_votes"] < 5000:
        return "Apple TV+"

    # Disney+ (Family-friendly & animated)
    if "animation" in str(row["genres"]).lower() or "family" in str(row["genres"]).lower():
        return "Disney+"

    return "Amazon Prime"  # Default to Amazon Prime

# Apply the refinement function
df["source"] = df.apply(refine_unknowns, axis=1)

# Display new distribution
print(df["source"].value_counts())

source
Amazon Prime    9437
Netflix         4742
Apple TV+       2969
Disney+         2565
HBO Max         1007
Name: count, dtype: int64

In [77]:
df.to_csv("streaming_data_powerbi.csv", index=False)

In [79]:
df.to_excel("streaming_data_powerbi.xlsx", index=False)

In [107]:
import pandas as pd

# Load the last working dataset
df = pd.read_csv("streaming_data_powerbi.csv")

# Check the count of 'source' column
print(df["source"].value_counts())

source
Amazon Prime    9437
Netflix         4742
Apple TV+       2969
Disney+         2565
HBO Max         1007
Name: count, dtype: int64